html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif
}

body {
  background-color: #A9DBA9;
  background-image: url("images/bamboo-background.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: green;
  font-size: 2rem;
  width: 81px;
  height: 81px;
  border: 1px #E1B87C solid;
  background-color: #FFE8C5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: #FFE8C5;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") crimson;
}

div.hidden {
  background: #63B463;
  width: 75px;
  height: 75px;
  border-left: 4px #A9DBA9 solid;
  border-top: 4px #A9DBA9 solid;
  border-right: 4px #2D882D solid;
  border-bottom: 4px #2D882D solid;
}

div.hidden:hover {
  background: #63B463;
  border-right: 4px #A9DBA9 solid;
  border-bottom: 4px #A9DBA9 solid;
  border-left: 4px #2D882D solid;
  border-top: 4px #2D882D solid;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") deepskyblue;
}

button#restart{
  display: inline-block;
  margin: 10px;
  font-size: 2em;
  padding: 2px;
  border-radius: 50%;
  border: 4px #e03d31 solid;
  width: 150px;
  height: 150px;
  background-color: #F44336;
  color: #fff3f2;
  box-shadow: 5px 5px;
}

button#restart:hover{
  border: 4px #F44336 solid;
  background-color: #e03d31;
  box-shadow: 3px 3px;
}